<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <label for="field1">Name</label>
    <input type="text" id="field1" placeholder="Type here"> <br>
    <label for="msg1">Message</label>
    <input type="text" id="msg1" placeholder="Type here"> <br>
    <span>
        <p id="newlink">
            click her to get link
        </p>
    </span>
    <label for="field2">Copy This</label>
    <input type="text" id="field2" placeholder="Live Update here"> <br>

    <h1>Send This</h1>
    <h3 id="heading"></h3>

    <script>
        const field1 = document.getElementById('field1');
        const msg1 = document.getElementById('msg1');
        const field2 = document.getElementById('field2');
        const heading = document.getElementById("heading");
        let newf1, newmsg1

        field1.onkeyup = function(){
            newf1 = this.value;
        };
        msg1.onkeyup = function(){
            newmsg1 = this.value;
        }

        url.addEventListener("keyup",()=>{
            url1 = this.value;
        })

        var domain = document.domain;
        link.addEventListener("click",()=>{
            field2.value = `${domain}/romantic/${newf1}/${msg1}/?url=${url1}`
        })
        link2.addEventListener("click",()=>{
            field2.value = `${domain}/happy/${newf1}/${msg1}/?url=${url1}`
        })

        // document.getElementById('newlink').onclick = function(){
        //     field2.value = `http://localhost:3000/${newf1}/${newmsg1}`;
        //     heading.innerHTML = `http://localhost:3000/${newf1}/${newmsg1}`;
        // }
    </script>
</body>
</html>
